[features]
seeds = false
skip-lint = false
[programs.localnet]
spl_token_staking = "STAKEGztX7S1MUHxcQHieZhELCntb9Ys9BgUbeEtMu1"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "Localnet"
wallet = "~/.config/solana/id.json"

[test.validator]
url = "https://api.mainnet-beta.solana.com"

[[test.validator.clone]] # Metaplex Token Metadata program
address = "metaqbxxUerdq28cj1RbAWkYQm3ybzjb6a8bt518x1s"


[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts -r tests/hooks.ts"
# test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/initialize-stake-pool.ts -r tests/hooks.ts"
# test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/add-reward-pool.ts -r tests/hooks.ts"
# test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/deposit.ts -r tests/hooks.ts"
# test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/claim-all.ts -r tests/hooks.ts"
# test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/withdraw.ts -r tests/hooks.ts"